.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background: red;
    color: white;
}
.heading_div
{
    float: none;
    background: red;
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 5px grey;
}
.heading_div
{
    font-size: 18px;
}